{% extends "Admin/layout.html" %}
{% block title %}Quản lí thông tin user band{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Quản lí thông tin user band</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
            <button style="margin-right: 1%;" id="refesh_band" class="fcbtn btn btn-info btn-outline btn-1c pull-right">Tải lại</button>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Quản lí thông tin user band</h3>
                <!--<button id="add_event" class="fcbtn btn btn-info btn-outline btn-1c m-b-10">Thêm sự kiện</button>-->
                <div id="modal-add" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" style="max-width: 30%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Thêm band user</h4>
                            </div>
                            <form id="add_form" class="form-horizontal" data-toggle="validator">
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label class="col-md-12">Tên band nhạc</label>
                                        <div class="col-md-12">
                                            <input type="text" id="txtbandname" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12" for="txtuser">Tên đăng nhập</label>
                                        <div class="col-md-12">
                                            <input type="text" id="txtuser" class="form-control"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12" for="txtpassword">Password</label>
                                        <div class="col-md-12">
                                            <input type="password" id="txtpassword" class="form-control" data-minlength="6" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Đóng</button>
                                    <button id="add_band_user" type="submit" class="btn btn-danger waves-effect waves-light">Tạo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="modal-update" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" style="max-width: 30%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Thay đổi thông tin band user</h4>
                            </div>
                            <form id="update_form" class="form-horizontal" data-toggle="validator">
                                <div class="modal-body">
                                    <input type="hidden" id="band_id" />
                                    <div class="form-group">
                                        <label class="col-md-12">Tên band nhạc</label>
                                        <div class="col-md-12">
                                            <input type="text" id="txt_bandname" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12" for="txt_user">Tên đăng nhập</label>
                                        <div class="col-md-12">
                                            <label id="txt_user" class="form-control"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12" for="txt_password">Mật khẩu mới</label>
                                        <div class="col-md-12">
                                            <input type="password" id="txt_password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Đóng</button>
                                    <button id="update_band_user" type="submit" class="btn btn-danger waves-effect waves-light">Lưu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="text-muted m-b-30">Dưới đây là danh sách user hiện có</p>
                <div class="table-responsive">
                    <table id="band_user_table" class="table table-striped"></table>
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->
    <!-- ============================================================== -->    
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/static/AdminTemplate/plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
<script src="/static/AdminTemplate/plugins/bower_components/summernote/dist/summernote.min.js"></script>
<script src="/static/AdminTemplate/plugins/bower_components/sweetalert/sweetalert.min.js"></script>
<!--Style Switcher -->
<script src="/static/band-user.js"></script>
{% endblock %}
