{% extends "Admin/layout.html" %}
{% block title %}Quản lí thông tin ban nhạc{% endblock %}
{% block head %}
{{super()}}
<link href="/static/css/event.css" rel="stylesheet">
<!-- summernotes CSS -->
<link href="/static/AdminTemplate/plugins/bower_components/summernote/dist/summernote.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Thông tin chi tiết của ban nhạc</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
            <button style="margin-right: 1%;" id="back_event" class="fcbtn btn btn-info btn-outline btn-1c pull-right">Quay lại</button>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <input id="band_id" type="hidden" value="{{band_detail._id}}" />
                <h3 class="box-title m-b-40" style="display: inline-block;">Thông tin ban nhạc</h3>
                {% if current_user.role ==  'admin'%}
                <div id="btn_approve" class="btn-group m-r-10 m-l-10">
                    {% if band_detail.is_approve ==  'true'%}
                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button">
                        <i class="ti-arrow-circle-down"></i> Đã xét duyệt <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu animated flipInX">
                        <li><a href="#" id="cbk_approve" value="true" onclick="approve_band_detail(false)" >Chưa xét duyệt</a></li>
                    </ul>
                    {% else%}
                    <button aria-expanded="false" data-toggle="dropdown" class="btn btn-danger dropdown-toggle waves-effect waves-light" type="button">
                         Chưa xét duyệt <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu animated flipInX">
                        <li><a href="#" id="cbk_approve" value="false" onclick="approve_band_detail(true)">Xét duyệt</a></li>
                    </ul>
                    {% endif%}
                </div>
                {% endif%}
                <form class="form-horizontal" data-toggle="validator">
                    <div class="form-group">
                        <label class="col-md-12">Tên ban nhạc</label>
                        <div class="col-md-12">
                            <input type="text" id="band_name" class="form-control" value="{{band_detail.band_name}}" required>
                        </div>
                    </div>
                    <div class="form-group col-md-6 p-l-0">
                        <label class="col-sm-12">Loại ban nhạc</label>
                        <div class="col-sm-12">
                            <select id="band_type" class="form-control">
                                <option value="1">DJ & EDM</option>
                                <option value="2">FULL BAND</option>
                                <option value="3">ROCK</option>
                                <option value="4">ACOUSTIC</option>
                                <option value="5">KHÁC</option>
                            </select>
                        </div>
                    </div>
                    {% if current_user.role == 'admin' %}
                    <div class="form-group col-md-6 p-l-0">
                        <label class="col-md-12">Điểm xếp hạng</label>
                        <div class="col-md-12">
                            <input type="number" id="score" class="form-control" value="{{band_detail.score}}">
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-md-12" for="title"></label>
                        <div class="col-md-12">
                            <input type="text" id="title" class="form-control" value="{{band_detail.title}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Phần mô tả ngắn của ban nhạc</label>
                        <div class="col-md-12">
                            <textarea class="form-control" id="short_description" rows="5" required>{{band_detail.short_description}}</textarea>
                        </div>
                    </div>                 
                    <div class="form-group">
                        <label class="col-md-6">Hình đại hiện của ban nhạc</label>
                        <label class="col-md-6">Hình chi tiết của ban nhạc</label>
                        <div class="col-md-6 m-b-10">
                            <img id="old_thumbnail" style="max-height: 200px;" value="{{band_detail.thumbnail_name}}" src="{{band_detail.thumbnail}}" alt="Hình" class="col-md-8 col-xs-12 m-b-10 p-l-0">
                        </div>
                        <div class="col-md-6 m-b-10">
                            <img id="old_thumbnail_detail" style="max-height: 200px;" value="{{band_detail.thumbnail_detail_name}}" src="{{band_detail.thumbnail_detail}}" alt="Hình" class="col-md-8 col-xs-12 m-b-10 p-l-0">
                        </div>
                        <div class="col-sm-6">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput">
                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                    <span class="fileinput-filename">{{band_detail.thumbnail_name}}</span>
                                </div>
                                <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input id="thumbnail" type="file" name="...">
                                </span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput">
                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                    <span class="fileinput-filename">{{band_detail.thumbnail_detail_name}}</span>
                                </div>
                                <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input id="thumbnail_detail" type="file" name="...">
                                </span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Nội dung đầy đủ bài viết của ban nhạc:</label>
                        <div class="col-md-12">
                            <div id="description" class="summernote">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Lưu</button>                        
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- /.row -->
    <!-- ============================================================== -->    
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/static/AdminTemplate/plugins/bower_components/summernote/dist/summernote.min.js"></script>
<script src="/static/AdminTemplate/ampleadmin-dark/js/validator.js"></script>
<!--Style Switcher -->
<script src="/static/edit-band-detail.js"></script>
{% endblock %}
