<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div>
        <ul class="nav" id="side-menu">
            <li class="user-pro">
                <a href="#" class="waves-effect">
                    {% if current_user.role ==  'admin'%}
                    <img src="/static/AdminTemplate/plugins/images/users/admin.jpg" alt="user-img" class="img-circle">
                    {% else%}
                    <img src="/static/AdminTemplate/plugins/images/users/user.jpg" alt="user-img" class="img-circle">
                    {% endif%}
                    <span class="hide-menu">{{current_user.user_name}}<span class="fa arrow"></span></span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href="javascript:void(0)"><i class="ti-user"></i> <span class="hide-menu">{{current_user.role}}</span></a></li>
                    <!--<li><a href="javascript:void(0)"><i class="ti-wallet"></i> <span class="hide-menu">My Balance</span></a></li>
                    <li><a href="javascript:void(0)"><i class="ti-email"></i> <span class="hide-menu">Inbox</span></a></li>
                    <li><a href="javascript:void(0)"><i class="ti-settings"></i> <span class="hide-menu">Account Setting</span></a></li>-->
                    <li><a href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i> <span class="hide-menu">Đăng xuất</span></a></li>
                </ul>
            </li>
            <li class="devider"></li>
            {% if current_user.role ==  'admin'%}
            <li>
                <a href="{{ url_for('banner') }}" class="waves-effect">
                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                    <span class="hide-menu">Quản lí hình banner</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('event') }}" class="waves-effect">
                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                    <span class="hide-menu">Quản lí sự kiện</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('band_user') }}" class="waves-effect">
                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                    <span class="hide-menu">Quản lí user ban nhạc</span>
                </a>
            </li>
            <li>
                <a href="#" class="waves-effect">
                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                    <span class="hide-menu">
                        Quản lí ban nhạc<span class="fa arrow">
                        </span>
                    </span>
                </a>
                <ul class="nav nav-second-level" aria-expanded="true" style="">
                    <li>
                        <a href="{{ url_for('band_general') }}" class="waves-effect">
                            <i class="mdi mdi-clipboard-text fa-fw"></i>
                            <span class="hide-menu">Quản lí thông tin mô tả chung</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('band_thumbnail') }}">
                            <i class="mdi mdi-clipboard-text fa-fw"></i>
                            <span class="hide-menu">Quản lí hình ban nhạc</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('band_detail') }}">
                            <i class="mdi mdi-clipboard-text fa-fw"></i>
                            <span class="hide-menu">Quản lí thông tin bài viết từng ban nhạc</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="inbox.html" class="waves-effect">
                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                    <span class="hide-menu">
                        Quản lí phòng tập<span class="fa arrow"></span>
                    </span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url_for('room_general') }}" class="waves-effect">
                            <i class="mdi mdi-clipboard-text fa-fw"></i>
                            <span class="hide-menu">Quản lí thông tin mô tả chung</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="waves-effect">
                            <i class="mdi mdi-clipboard-text fa-fw"></i>
                            <span class="hide-menu">Quản lí phòng XL Room</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="/admin/music_room_thumbnail/1">
                                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                                    <span class="hide-menu">Hình ảnh</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/room_description/1">
                                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                                    <span class="hide-menu">Thông tin phòng</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="waves-effect">
                            <i class="mdi mdi-clipboard-text fa-fw"></i>
                            <span class="hide-menu">Quản lí phòng SM Room</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="/admin/music_room_thumbnail/2">
                                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                                    <span class="hide-menu">Hình ảnh</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/room_description/2">
                                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                                    <span class="hide-menu">Thông tin phòng</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="waves-effect">
                            <i class="mdi mdi-clipboard-text fa-fw"></i>
                            <span class="hide-menu">Quản lí phòng Streaming Room</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="/admin/music_room_thumbnail/3">
                                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                                    <span class="hide-menu">Hình ảnh</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/room_description/3">
                                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                                    <span class="hide-menu">Thông tin phòng</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ url_for('home') }}" class="waves-effect">
                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                    <span class="hide-menu">Quay lại trang chủ</span>
                </a>
            </li>
            {% else%}
            <li>
                <a href="{{ url_for('band_detail') }}" class="waves-effect">
                    <i class="mdi mdi-clipboard-text fa-fw"></i>
                    <span class="hide-menu">Quản lí thông tin bài viết của ban nhạc</span>
                </a>
            </li>
            {% endif%}
        </ul>
    </div>
</div>
