<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <!--favicon icon-->
    <link rel="icon" type="image/png" href="../../static/DetailTemplate/img/favicon.png">
    <title>{% block title %}{% endblock %}</title>
    <!--common style-->
    <link href='https://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200' rel='stylesheet' type='text/css'>
    <link href="../../static/DetailTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/magnific-popup.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/shortcodes/shortcodes.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/owl.carousel.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/owl.theme.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/style.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/style-responsive.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/default-theme.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/blog.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/custom-home.css">
    {% endblock %}
</head>

<body>

    <!--  preloader start -->
    <div id="tb-preloader">
        <div class="tb-preloader-wave"></div>
    </div>
    <!-- preloader end -->


    <div class="wrapper">

        <!--header start-->
        <header id="header" class=" ">

            <div class="header-sticky light-header  ">

                <div class="container">
                    <div id="massive-menu" class="menuzord" style="border-bottom: 5px solid #685e27">

                        <!--logo start-->
                        <a href="/home" class="logo-brand">
                            <img class="retina" src="/static/FrontEnd/img/navbar-logo.png" alt="" />
                        </a>
                        <!--logo end-->
                        <!--mega menu start-->
                        <ul id="bands_menu" class="menuzord-menu pull-right">
                            <li class="">
                                <a href="#">Menu</a>
                                <ul class="dropdown">
                                    <li><a href="/events_page">Sự kiện</a></li>
                                    <li><a href="/home#sc-rooms">Phòng tập</a></li>
                                    <li><a href="/home#sc-contact">Liên hệ</a></li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="/bands_page/all">TẤT CẢ</a>
                                <div class="megamenu">
                                    <div id="all_menu" class="megamenu-row">

                                        <!--<div class="col3">
                                            <ul class="list-unstyled">
                                                <li><a href="about-us-1.html">Band 1</a></li>
                                                <li><a href="about-us-2.html">Band 2</a></li>
                                                <li><a href="about-me.html">Band 3</a></li>
                                                <li><a href="our-services-1.html">Band 4</a></li>
                                                <li><a href="our-services-2.html">Band 5</a></li>
                                                <li><a href="our-services-3.html">Band 6</a></li>
                                                <li><a href="our-clients-1.html">Band 7</a></li>

                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <ul class="list-unstyled">
                                                <li><a href="our-clients-2.html">Our Clients 2</a></li>
                                                <li><a href="shortcode-career.html">Career</a></li>
                                                <li><a href="faq-1.html">FAQ 1</a></li>
                                                <li><a href="faq-2.html">FAQ 2</a></li>
                                                <li><a href="maintenance.html">Maintenance</a></li>
                                                <li><a href="pricing-table-1.html">Pricing Table 1</a></li>
                                                <li><a href="pricing-table-2.html">Pricing Table 2</a></li>

                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <ul class="list-unstyled">
                                                <li><a href="our-team-1.html">Our Team 1</a></li>
                                                <li><a href="our-team-2.html">Our Team 2</a></li>
                                                <li><a href="contact-us-1.html">Contact 1</a></li>
                                                <li><a href="contact-us-2.html">Contact 2</a></li>
                                                <li><a href="contact-us-3.html">Contact 3</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                                <li><a href="404-alt.html">Error 404 Alt</a></li>
                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <ul class="list-unstyled">
                                                <li><a href="login-1.html">Login 1</a></li>
                                                <li><a href="login-2.html">Login 2</a></li>
                                                <li><a href="login-register-1.html">Login/Register 1</a></li>
                                                <li><a href="login-register-2.html">Login/Register 2</a></li>
                                                <li><a href="login-register-3.html">Login/Register 3</a></li>
                                            </ul>
                                        </div>-->

                                    </div>
                                </div>
                            </li>

                            <li class="">
                                <a href="/bands_page/1">DJ & EDM</a>
                                <ul class="dropdown">
                                    {% for sub in list_band_detail %}
                                    {% if sub.band_type == '1' %}
                                    <li><a href="/home/home_band_detail/{{sub._id}}">{{sub.band_name}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="">
                                <a href="/bands_page/2">Full Band</a>
                                <ul class="dropdown">
                                    {% for sub in list_band_detail %}
                                    {% if sub.band_type == '2' %}
                                    <li><a href="/home/home_band_detail/{{sub._id}}">{{sub.band_name}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="">
                                <a href="/bands_page/3">ROCK</a>
                                <ul class="dropdown">
                                    {% for sub in list_band_detail %}
                                    {% if sub.band_type == '3' %}
                                    <li><a href="/home/home_band_detail/{{sub._id}}">{{sub.band_name}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="">
                                <a href="/bands_page/4">Acoustic</a>
                                <ul class="dropdown">
                                    {% for sub in list_band_detail %}
                                    {% if sub.band_type == '4' %}
                                    <li><a href="/home/home_band_detail/{{sub._id}}">{{sub.band_name}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="">
                                <a href="/bands_page/5">Khác</a>
                                <ul class="dropdown">
                                    {% for sub in list_band_detail %}
                                    {% if sub.band_type == '5' %}
                                    <li><a href="/home/home_band_detail/{{sub._id}}">{{sub.band_name}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <!--mega menu end-->

                    </div>
                </div>
            </div>

        </header>
        <!--header end-->
        <!--body content start-->
        {% block content %}

        {% endblock %}
        <!--body content end-->
        <!--Address start-->
        <section class="address" id="sc-address">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2><img src="../../static/DetailTemplate/img/address-logo.png" alt="Logo" /></h2>
                        <address>247A/6 Huỳnh Văn Bánh, Phường 12, Quận Phú Nhuận, TP.Hồ Chí Minh</address>
                        <p class="address-info">Nếu có bất kỳ câu hỏi hay thông tin thắc mắc, vui lòng liên hệ với chúng tôi:</p>
                        <ul class="phones">
                            <li><i class="fa fa-mobile"></i> +84 (0) 939 777 987</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Address end-->
        <!--Footer start-->
        <footer class="footer" id="sc-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="footer-copyright">
                            &copy; 2018 The March Co.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="footer-social-media">
                          <li><a href="https://www.facebook.com/profile.php?id=100002014696206"><i class="fa fa-facebook fa-fw"></i></a></li>
                          <li><a href="https://www.facebook.com/profile.php?id=100002014696206"><i class="fa fa-instagram fa-fw"></i></a></li>
                          <li><a href="mailto:livemusic.marchcom@gmail.com"><i class="fa fa-google-plus fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--Footer end-->
    </div>

    {% block scripts %}
    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="../../static/DetailTemplate/js/jquery-1.10.2.min.js"></script>
    <script src="../../static/DetailTemplate/js/bootstrap.min.js"></script>
    <script src="../../static/DetailTemplate/js/menuzord.js"></script>
    <script src="../../static/DetailTemplate/js/jquery.flexslider-min.js"></script>
    <script src="../../static/DetailTemplate/js/owl.carousel.min.js"></script>
    <script src="../../static/DetailTemplate/js/jquery.isotope.js"></script>
    <script src="../../static/DetailTemplate/js/imagesloaded.js?1"></script>
    <script src="../../static/DetailTemplate/js/jquery.magnific-popup.min.js"></script>
    <script src="../../static/DetailTemplate/js/smooth.js"></script>
    <script src="../../static/DetailTemplate/js/wow.min.js"></script>
    <script src="../../static/DetailTemplate/js/imagesloaded.js"></script>
    <!--common scripts-->
    <script src="../../static/DetailTemplate/js/scripts.js?6"></script>
    <script src="../../static/home-bands.js"></script>
    {% endblock %}

</body>
</html>
