{% extends "Home/events-layout.html" %}
{% block title %}March Live Music - Sự kiện{% endblock %}
{% block content %}
<!--page title start-->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input id="event_id" type="hidden" value="{{event_detail._id}}" />
                <h4 class="text-uppercase">{{event_detail.event_type}}</h4>
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Fanpage</a></li>
                    <li><a href="#">Youtube Channel</a></li>
                    <li class="active">Instagram</li>
                </ol> -->
            </div>
        </div>
    </div>
</section>
<!--page title end-->
<!--body content start-->
<section class="body-content ">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!--classic image post-->
                    <div class="blog-classic">
                        <div class="blog-post">
                            <div class="full-width">
                                <img src="/{{event_detail.thumbnail_detail}}" alt="" />
                            </div>
                            <h3 class="text-uppercase">{{event_detail.title}}</h3>
                            <ul class="post-meta">
                                <li><i class="fa fa-calendar"></i><a href="#">{{event_detail.created_date}}</a></li>
                            </ul>
                            <div id="content_detail"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <div class="heading-title-alt text-left heading-border-bottom">
                            <h6 class="text-uppercase">Sự Kiện Gần Đây</h6>
                        </div>
                        <ul id="list_event_recently" class="widget-latest-post">
                            <!--<li>
                                <div class="thumb"><a href="#"><img src="../../static/DetailTemplate/img/post/post-thumb.jpg" alt=""/></a></div>
                                <div class="w-desk">
                                    <a href="#">Old Father Getup</a>
                                    April 25, 2014
                                </div>
                            </li>
                            <li>
                                <div class="thumb"><a href="#"><img src="../../static/DetailTemplate/img/post/post-thumb-2.jpg" alt=""/></a></div>
                                <div class="w-desk">
                                    <a href="#">Represent is the best way</a>
                                    March 28, 2014
                                </div>
                            </li>
                            <li>
                                <div class="thumb"><a href="#"><img src="../../static/DetailTemplate/img/post/post-thumb-3.jpg" alt=""/></a></div>
                                <div class="w-desk">
                                    <a href="#">Alone with the music</a>
                                    May 05, 2014
                                </div>
                            </li>-->
                        </ul>
                    </div>
                    <!--latest post widget-->
                    <!--comments widget-->
                </div>
            </div>
        </div>
    </div>


</section>
<!--body content end-->
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/static/home-detail-event.js"></script>
{% endblock %}
