{% extends "Home/events-layout.html" %}
{% block title %}March Live Music - Sự kiện{% endblock %}
{% block content %}
<section class="body-content ">
    {% for sub in list_event %}
    {% if loop.index % 2 == 0 %}
    <div class="page-content">
        <div class="container padding100">
            <div class="row">

                <!--blog list-->
                <div class="post-list-aside">
                    <div class="post-single">
                        <div class="col-md-5">
                            <div class="post-img">
                                <img style="object-fit: cover;max-height:300px" src="{{sub.thumbnail}}" alt="">
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="post-desk text-center">
                                <h4 class="text-uppercase">
                                    <a href="/home/detail_event/{{sub._id}}">{{sub.event_type}}</a>
                                </h4>
                                <div class="date">
                                    <a href="#" class="author"></a>{{sub.created_date}}
                                </div>
                                <p class="event-short-description">
                                    {{sub.short_description}}
                                </p>
                                <a href="/home/detail_event/{{sub._id}}" class="p-read-more">Xem chi tiết <i class="icon-arrows_slim_right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--blog list-->

            </div>
        </div>
    </div>
    {% else %}
    <div class="page-content">
        <div class="container padding100">
            <div class="row">

                <!--blog list-->
                <div class="post-list-aside">
                    <div class="post-single">
                        <div class="col-md-7">
                            <div class="post-desk text-center">
                                <h4 class="text-uppercase">
                                    <a href="/home/detail_event/{{sub._id}}">{{sub.event_type}}</a>
                                </h4>
                                <div class="date">
                                    <a href="#" class="author"></a>{{sub.created_date}}
                                </div>
                                <p class="event-short-description">
                                    {{sub.short_description}}
                                </p>
                                <a href="/home/detail_event/{{sub._id}}" class="p-read-more">Xem chi tiết <i class="icon-arrows_slim_right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="post-img">
                                <img style="object-fit: cover;max-height:300px" src="{{sub.thumbnail}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--blog list-->

            </div>
        </div>
    </div>
    {% endif %}
    <hr />
    {% endfor %}
    <!--pagination-->
    <!--<div class="text-center page-content">
        <ul class="pagination custom-pagination">
            <li><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>-->
    <!--pagination-->


</section>
{% endblock %}
