<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="../../static/DetailTemplate/img/favicon.png">

    <title>The March</title>

    <!--common style-->


<link href='http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200' rel='stylesheet' type='text/css'>
<link href="../../static/DetailTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/magnific-popup.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/shortcodes/shortcodes.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/owl.carousel.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/owl.theme.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/style.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/style-responsive.css" rel="stylesheet">
    <link href="../../static/DetailTemplate/css/default-theme.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="left-nav-fixed dark-side-nav">
    <!--  preloader start -->
<div id="tb-preloader">
    <div class="tb-preloader-wave"></div>
</div>
<!-- preloader end -->


<div class="wrapper">

        <!--header start-->
        <header id="header" class=" header-full-width ">

            <div class=" light-header">

                <div class="container">
                    <div id="massive-menu" class="menuzord">

                        <div class="logo-area text-center">
                            <!--logo start-->
                            <a href="index.html" class="logo-brand">
                                <img class="retina" src="../../static/DetailTemplate/img/logo-dark.png" alt="" style="padding-left: 50px; padding-right: 50px;"/>
                            </a>
                            <!--logo end-->
                        </div>

                        <!--mega menu start-->
                        <ul class="menuzord-menu pull-right">

                            <li class="active"><a href="javascript:void(0)">ALL</a>
                                <div class="megamenu">
                                    <div class="megamenu-row">
                                        <div class="col3">
                                            <ul class="list-unstyled">
                                                <li><a href="about-us-1.html">Band 1</a></li>
                                                <li><a href="about-us-2.html">Band 2</a></li>
                                                <li><a href="about-me.html">Band 3</a></li>
                                                <li><a href="our-services-1.html">Band 4</a></li>
                                                <li><a href="our-services-2.html">Band 5</a></li>
                                                <li><a href="our-services-3.html">Band 6</a></li>
                                                <li><a href="our-clients-1.html">Band 7</a></li>

                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <ul class="list-unstyled">
                                                <li><a href="our-clients-2.html">Our Clients 2</a></li>
                                                <li><a href="shortcode-career.html">Career</a></li>
                                                <li><a href="faq-1.html">FAQ 1</a></li>
                                                <li><a href="faq-2.html">FAQ 2</a></li>
                                                <li><a href="maintenance.html">Maintenance</a></li>
                                                <li><a href="pricing-table-1.html">Pricing Table 1</a></li>
                                                <li><a href="pricing-table-2.html">Pricing Table 2</a></li>

                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <ul class="list-unstyled">
                                                <li><a href="our-team-1.html">Our Team 1</a></li>
                                                <li><a href="our-team-2.html">Our Team 2</a></li>
                                                <li><a href="contact-us-1.html">Contact 1</a></li>
                                                <li><a href="contact-us-2.html">Contact 2</a></li>
                                                <li><a href="contact-us-3.html">Contact 3</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                                <li><a href="404-alt.html">Error 404 Alt</a></li>
                                            </ul>
                                        </div>
                                        <div class="col3">
                                            <ul class="list-unstyled">
                                                <li><a href="login-1.html">Login 1</a></li>
                                                <li><a href="login-2.html">Login 2</a></li>
                                                <li><a href="login-register-1.html">Login/Register 1</a></li>
                                                <li><a href="login-register-2.html">Login/Register 2</a></li>
                                                <li><a href="login-register-3.html">Login/Register 3</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </li>

                            <li class=""><a href="#">DJ & EDM</a>
                                <ul class="dropdown">
                                    <li><a href="#">Avicii</a></li>
                                    <li><a href="#">Deadmau5</a></li>
                                    <li><a href="#">Skrillex  </a></li>
                                    <li><a href="#">David Guetta</a></li>
                                    <li><a href="#">Calvin Harris</a></li>
                                    <li><a href="#">Tiësto</a></li>
                                    <li><a href="mp-index-app-landing.html">Martin Garrix</a> </li>
                                    <li><a href="mp-index-parallax.html">Diplo</a> </li>
                                    <li><a href="mp-index-coming-soon.html">Steve Aoki</a> </li>
                                </ul>
                            </li>

                            <li class=""><a href="#">POP</a>
                                <ul class="dropdown">
                                    <li><a href="#">Avicii</a></li>
                                    <li><a href="#">Deadmau5</a></li>
                                    <li><a href="#">Skrillex  </a></li>
                                    <li><a href="#">David Guetta</a></li>
                                    <li><a href="#">Calvin Harris</a></li>
                                    <li><a href="#">Tiësto</a></li>
                                    <li><a href="mp-index-app-landing.html">Martin Garrix</a> </li>
                                    <li><a href="mp-index-parallax.html">Diplo</a> </li>
                                    <li><a href="mp-index-coming-soon.html">Steve Aoki</a> </li>
                                </ul>
                            </li>

                            <li class=""><a href="#">ROCK</a>
                                <ul class="dropdown">
                                    <li><a href="#">Avicii</a></li>
                                    <li><a href="#">Deadmau5</a></li>
                                    <li><a href="#">Skrillex  </a></li>
                                    <li><a href="#">David Guetta</a></li>
                                    <li><a href="#">Calvin Harris</a></li>
                                    <li><a href="#">Tiësto</a></li>
                                    <li><a href="mp-index-app-landing.html">Martin Garrix</a> </li>
                                    <li><a href="mp-index-parallax.html">Diplo</a> </li>
                                    <li><a href="mp-index-coming-soon.html">Steve Aoki</a> </li>
                                </ul>
                            </li>

                            <li class=""><a href="#">COUNTRY</a>
                                <ul class="dropdown">
                                    <li><a href="#">Avicii</a></li>
                                    <li><a href="#">Deadmau5</a></li>
                                    <li><a href="#">Skrillex  </a></li>
                                    <li><a href="#">David Guetta</a></li>
                                    <li><a href="#">Calvin Harris</a></li>
                                    <li><a href="#">Tiësto</a></li>
                                    <li><a href="mp-index-app-landing.html">Martin Garrix</a> </li>
                                    <li><a href="mp-index-parallax.html">Diplo</a> </li>
                                    <li><a href="mp-index-coming-soon.html">Steve Aoki</a> </li>
                                </ul>
                            </li>

                            <li class=""><a href="#">R&B</a>
                                <ul class="dropdown">
                                    <li><a href="#">Avicii</a></li>
                                    <li><a href="#">Deadmau5</a></li>
                                    <li><a href="#">Skrillex  </a></li>
                                    <li><a href="#">David Guetta</a></li>
                                    <li><a href="#">Calvin Harris</a></li>
                                    <li><a href="#">Tiësto</a></li>
                                    <li><a href="mp-index-app-landing.html">Martin Garrix</a> </li>
                                    <li><a href="mp-index-parallax.html">Diplo</a> </li>
                                    <li><a href="mp-index-coming-soon.html">Steve Aoki</a> </li>
                                </ul>
                            </li>

                            <li class=""><a href="#">RAP</a>
                                <ul class="dropdown">
                                    <li><a href="#">Avicii</a></li>
                                    <li><a href="#">Deadmau5</a></li>
                                    <li><a href="#">Skrillex  </a></li>
                                    <li><a href="#">David Guetta</a></li>
                                    <li><a href="#">Calvin Harris</a></li>
                                    <li><a href="#">Tiësto</a></li>
                                    <li><a href="mp-index-app-landing.html">Martin Garrix</a> </li>
                                    <li><a href="mp-index-parallax.html">Diplo</a> </li>
                                    <li><a href="mp-index-coming-soon.html">Steve Aoki</a> </li>
                                </ul>
                            </li>

                            <li class=""><a href="#">LATIN</a>
                                <ul class="dropdown">
                                    <li><a href="#">Avicii</a></li>
                                    <li><a href="#">Deadmau5</a></li>
                                    <li><a href="#">Skrillex  </a></li>
                                    <li><a href="#">David Guetta</a></li>
                                    <li><a href="#">Calvin Harris</a></li>
                                    <li><a href="#">Tiësto</a></li>
                                    <li><a href="mp-index-app-landing.html">Martin Garrix</a> </li>
                                    <li><a href="mp-index-parallax.html">Diplo</a> </li>
                                    <li><a href="mp-index-coming-soon.html">Steve Aoki</a> </li>
                                </ul>
                            </li>

                            <li class=""><a href="#">OTHER</a>
                                <ul class="dropdown">
                                    <li><a href="#">Avicii</a></li>
                                    <li><a href="#">Deadmau5</a></li>
                                    <li><a href="#">Skrillex  </a></li>
                                    <li><a href="#">David Guetta</a></li>
                                    <li><a href="#">Calvin Harris</a></li>
                                    <li><a href="#">Tiësto</a></li>
                                    <li><a href="mp-index-app-landing.html">Martin Garrix</a> </li>
                                    <li><a href="mp-index-parallax.html">Diplo</a> </li>
                                    <li><a href="mp-index-coming-soon.html">Steve Aoki</a> </li>
                                </ul>
                            </li>
                        </ul>
                        <!--mega menu end-->



                    </div>
                </div>
            </div>

            <!-- <div class="side-social-link clearfix visible-md visible-lg">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>

                <a href="#">
                    <i class="fa fa-pinterest"></i>
                </a>

                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div> -->
        </header>
        <!--header end-->

        <!--body content start-->
        <section class="body-content ">

            <!--portfolio-->
            <div class="portfolio-gap-less">
                <div class="portfolio col-3 ">

                    <div class="portfolio-item cat1 cat3 ">
                        <div class="thumb">
                            <img src="../../static/DetailTemplate/img/portfolio/01.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="../../static/DetailTemplate/img/portfolio/01.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i>  </a>
                                </div>
                                <div class="portfolio-description">
                                    <h4><a href="../../static/DetailTemplate/img/portfolio/01.jpg" class="popup-link" title="lightbox view">lightbox view</a></h4>
                                    <p><a href="#">category</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item cat2 cat4">
                        <div class="thumb">
                            <img src="../../static/DetailTemplate/img/portfolio/02.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="portfolio-single.html"> <i class="icon-basic_link"></i>  </a>
                                </div>
                                <div class="portfolio-description">
                                    <h4><a href="portfolio-single.html">External link</a></h4>
                                    <p><a href="#">category 1</a> , <a href="#">category 2</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item cat1 cat2">
                        <div class="thumb">

                            <div class="portfolio-slider">
                                <ul class="slides">
                                    <li>
                                        <a href="../../static/DetailTemplate/img/portfolio/07.jpg" title="Freshness Photo"><img src="../../static/DetailTemplate/img/portfolio/07.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="../../static/DetailTemplate/img/portfolio/07a.jpg" title="Awesome Lightbox"><img src="../../static/DetailTemplate/img/portfolio/07a.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="../../static/DetailTemplate/img/portfolio/07b.jpg" title="Massive UI Components"><img src="../../static/DetailTemplate/img/portfolio/07b.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="../../static/DetailTemplate/img/portfolio/07c.jpg" title="Amazing Theme"><img src="../../static/DetailTemplate/img/portfolio/07c.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>


                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="#"> <i class="icon-basic_magnifier"></i>  </a>
                                </div>
                                <div class="portfolio-description">
                                    <h4><a href="#">lightbox Gallary</a></h4>
                                    <p><a href="#">category</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item cat1 cat4">
                        <div class="thumb">
                            <img src="../../static/DetailTemplate/img/portfolio/03.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a class="popup-vimeo" href="https://vimeo.com/45830194"> <i class="icon-arrows_keyboard_right"></i>  </a>
                                </div>
                                <div class="portfolio-description">
                                    <h4><a class="popup-vimeo" href="https://vimeo.com/45830194" >Video lightbox</a></h4>
                                    <p><a href="#">category</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item cat2 cat4">
                        <div class="thumb">
                            <img src="../../static/DetailTemplate/img/portfolio/04.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="../../static/DetailTemplate/img/portfolio/04.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i>  </a>
                                </div>
                                <div class="portfolio-description">
                                    <h4><a href="../../static/DetailTemplate/img/portfolio/04.jpg" class="popup-link" title="lightbox view">lightbox view</a></h4>
                                    <p><a href="#">category 3</a> , <a href="#">category 4</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item cat3 ">
                        <div class="thumb">
                            <img src="../../static/DetailTemplate/img/portfolio/05.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="portfolio-single.html"> <i class="icon-basic_link"></i>  </a>
                                </div>
                                <div class="portfolio-description">
                                    <h4><a href="portfolio-single.html">External link</a></h4>
                                    <p><a href="#">category</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item cat2 cat4 ">
                        <div class="thumb">

                            <div class="portfolio-slider-alt">
                                <ul class="slides">
                                    <li>
                                        <a href="../../static/DetailTemplate/img/portfolio/08.jpg" title="Freshness"><img src="../../static/DetailTemplate/img/portfolio/08.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="../../static/DetailTemplate/img/portfolio/08a.jpg" title="Massive"><img src="../../static/DetailTemplate/img/portfolio/08a.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="../../static/DetailTemplate/img/portfolio/08b.jpg" title="Bootstrap"><img src="../../static/DetailTemplate/img/portfolio/08b.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="#"> <i class="icon-basic_magnifier"></i>  </a>
                                </div>
                                <div class="portfolio-description">
                                    <h4><a href="#">lightbox gallery</a></h4>
                                    <p><a href="#">category</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item cat1 cat4 cat3 cat5">
                        <div class="thumb">
                            <img src="../../static/DetailTemplate/img/portfolio/06.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="../../static/DetailTemplate/img/portfolio/06.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i>  </a>
                                </div>
                                <div class="portfolio-description">
                                    <h4><a href="../../static/DetailTemplate/img/portfolio/06.jpg" class="popup-link" title="lightbox view">lightbox view</a></h4>
                                    <p><a href="#">category 5</a> , <a href="#">category 6</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item cat2 cat5">
                        <div class="thumb">
                            <img src="../../static/DetailTemplate/img/portfolio/09.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="action-btn">
                                    <a href="../../static/DetailTemplate/img/portfolio/09.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i>  </a>
                                </div>
                                <div class="portfolio-description">
                                    <h4><a href="../../static/DetailTemplate/img/portfolio/09.jpg" class="popup-link" title="The Cleaner">lightbox view</a></h4>
                                    <p><a href="#">category</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--portfolio-->

            <!--promo-->
            <!-- <div class="page-content">
                <div class="promo-box text-center">
                    <span class=" text-uppercase m-top-0">Are you impressed with our creative work? </span>
                    <h3 class="text-uppercase">start <span class="theme-color">building your project</span> with massive</h3>
                    <div class="m-top-50 inline-block">
                        <a href="#" class="btn btn-medium btn-rounded btn-dark-solid  text-uppercase">purchase now</a>
                    </div>
                </div>
            </div> -->
            <!--promo-->

        </section>
        <!--body content end-->

        <!--Address start-->
        <section class="address" id="sc-address">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2><img src="../../static/DetailTemplate/img/address-logo.png" alt="Logo"/></h2>
                <address>51 Trần Quang Diệu, Phường 13, Quận 3, Hồ Chí Minh</address>
                <p class="address-info">Nếu có bất kỳ câu hỏi hay thông tin thắc mắc, vui lòng liên hệ với chúng tôi:</p>
                <ul class="phones">
                  <li><i class="fa fa-phone"></i> +84 (0) 93 977 7987</li>
                  <li><i class="fa fa-mobile"></i> +84 (0) 93 977 7987</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!--Address end-->

        <!--Footer start-->
        <footer >
        </footer>
        <!--Footer end-->
        <!-- <footer id="footer" class="dark footer-4">
            <div class="container">

                <div class="f-logo-center">
                    <a href="index.html" class="footer-logo">
                        <img class="retina" src="../../static/DetailTemplate/img/footer-logo.png" alt=""/>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="copyright">
                        &copy; MASSIVE 2014.
                    </div>
                    <div class="copyright-sub-title text-uppercase">
                        Building your site with lots of fun
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="social-link pull-right circle " >
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>


            </div>
        </footer> -->
        <!--footer end-->
    </div>


    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="../../static/DetailTemplate/js/jquery-1.10.2.min.js"></script>
    <script src="../../static/DetailTemplate/js/bootstrap.min.js"></script>
    <script src="../../static/DetailTemplate/js/menuzord.js"></script>
    <script src="../../static/DetailTemplate/js/jquery.flexslider-min.js"></script>
    <script src="../../static/DetailTemplate/js/owl.carousel.min.js"></script>
    <script src="../../static/DetailTemplate/js/jquery.isotope.js"></script>
    <script src="../../static/DetailTemplate/js/jquery.magnific-popup.min.js"></script>
    <script src="../../static/DetailTemplate/js/jquery.countTo.js"></script>
    <script src="../../static/DetailTemplate/js/breakpoint.js"></script>
    <script src="../../static/DetailTemplate/js/imagesloaded.js?3"></script>
    <script src="../../static/DetailTemplate/js/smooth.js"></script>
    <script src="../../static/DetailTemplate/js/wow.min.js"></script>


    <script src="../../static/DetailTemplate/js/imagesloaded.js"></script>
    <!--common scripts-->
    <script src="../../static/DetailTemplate/js/scripts.js?6"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var bodyclass = $("body").attr("class");
            $.BreakPoint({
                breakpoints: {
                    tablet: {
                        max: 768,
                        callback: function () {
                            $("body").removeClass(bodyclass);
                        }
                    },
                    desktop: {
                        min: 769,
                        callback: function () {
                            $("body").addClass(bodyclass);
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
